@model Test.Models.Admin

@{
    ViewData["Title"] = "Profile";
}

<!DOCTYPE html>
<html>
<head>
	<title>My Profile</title>

	<style>
		.container {
	max-width: 800px;
	margin: 0 auto;
}

.profile {
	text-align: center;
	padding: 30px;
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.profile img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 20px;
}

.profile h1 {
	font-size: 36px;
	margin-bottom: 10px;
}

.profile p {
	margin-bottom: 5px;
}

.profile a {
	color: black;
	text-decoration: none;
	margin: 0 30px;

}
p{
	color:black;
	font-family: auto;
	line-height: 2.8;

}
	</style>
</head>
<body>
	<div class="container" >
        <div class="profile" style="margin-top: 100px;height: 550px;">
			<img src="~/Attach/icons8-admin-settings-male-96.png" alt="My Profile Picture">
			<h1>@Model.Name</h1>
			<p>Administrator</p>
			<p>Email: @Model.Email</p>
			<p>Phone: @Model.Phone</p>
			<a asp-action="Edit" asp-controller="admin" class="btn btn-info">Edit Profile </a>
			<a asp-action="view" asp-controller="admin" class="btn btn-info">Go Back </a>
		</div>
	</div>
</body>
</html>