<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dashboard</title>
    <link rel="icon" href="~/Attach/icon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Dashboard.styles.css" asp-append-version="true" />
</head>
<body>

    <!-- for header part -->
    <header style="padding:0 25px ">

        <div class="logosec">
            <div class="logo"><img src="~/Attach/icon.png" height="40" width="40" style="background-color: #3f0097; border-radius: 50%; padding: 3px"/></div>
            <img src="~/Attach/icons8-menu-rounded-96.png"
                 class="icn menuicn"
                 id="menuicn"
                 alt="menu-icon">
        </div>

        <div class="searchbar">
            <input type="text"
                   placeholder="Search">
            <div class="searchbtn">
                <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png"
                     class="icn srchicn"
                     alt="search-icon">
            </div>
        </div>

        <div class="message">
            <div class="circle"></div>
            <img src="~/Attach/icons8-notification-100.png"
                 class="icn"
                 alt="">
            <a class="dp" asp-action="profile" asp-controller="admin" >
                <img src="~/Attach/saber.jpg"
                     class="dpicn"
                     alt="dp">
            </a>
        </div>

    </header>
        <div class="main-container">
        <div class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options">

                    <div class="nav-option option3">
                        <a asp-action="view" asp-controller="admin" class = "logout-link">
                            <img src="~/Attach/icons8-admin-settings-male-96.png"
                             class="nav-img"
                             alt="report"> Admins</a>
                    </div>
                    <div class="nav-option option3">
                        <a asp-action="show" asp-controller="user" class = "logout-link">
                            <img src="~/Attach/icons8-users-96.png"
                             class="nav-img"
                             alt="report"> Users</a>
                    </div>
                    <div class="nav-option option3">
                        <a asp-action="show" asp-controller="post" class = "logout-link">
                            <img src="~/Attach/icons8-posts-60.png"
                             class="nav-img"
                             alt="report"> Posts</a>
                    </div>
                    <div class="nav-option option3">
                        <a asp-action="show" asp-controller="news" class = "logout-link">
                            <img src="~/Attach/icons8-news-96.png"
                             class="nav-img"
                             alt="report"> News</a>
                    </div>
                    <div class="nav-option option3">
                        <a asp-action="view" asp-controller="admin" class = "logout-link">
                            <img src="~/Attach/icons8-account-96.png"
                             class="nav-img"
                             alt="report"> Profile</a>
                    </div>
                    <div class="nav-option option3">
                        <a asp-action="view" asp-controller="admin" class = "logout-link">
                            <img src="~/Attach/icons8-unavailable-96.png"
                             class="nav-img"
                             alt="report"> Reports</a>
                    </div>
                        <div class="nav-option option3">
                        <a asp-action="view" asp-controller="admin" class = "logout-link">
                            <img src="~/Attach/icons8-gear-100.png"
                             class="nav-img"
                             alt="report"> Settings</a>
                    </div>
                    <div class="nav-option option3">
                        <a asp-action="logout" asp-controller="operation" class = "logout-link">
                            <img src="~/Attach/icons8-logout-96.png"
                             class="nav-img"
                             alt="report"> Logout</a>
                    </div>

                </div>
            </nav>
        </div>
    <div style="width:100%">
            @RenderBody()
    </div>
    </div>
    <footer style="background-color: rgb(55, 206, 235) ;margin-top:60px ; padding-top:15px">
        <div class="containe">
            <ul class="social-icons">
            <li><a href="#"><img src="~/Attach/icons8-facebook-96.png"></a></li>
            <li><a href="#"><img src="~/Attach/icons8-twitter-squared-96.png"></a></li>
            <li><a href="#"><img src="~/Attach/icons8-google-play-store-96.png"></a></li>
            <li><a href="#"><img src="~/Attach/icons8-linkedin-96.png"></a></li>
            <li><a href="#"><img src="~/Attach/icons8-website-96.png"></a></li>
            <li><a href="#"><img src="~/Attach/icons8-gmail-96.png"></a></li>
            <li>&copy; 2023 Train Live Location . All rights reserved</li>
            </ul>
        </div>
    </footer>
</body>
<script src="~/js/Home.js"></script>

</html>