@model ErrorViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Error";
}

<h1 class="text-danger text-center w-100" >Error.</h1>
<h2 class="text-danger text-center">An error occurred while processing your request.</h2>
