@model IEnumerable<Test.Models.Post>

@{
    ViewData["Title"] = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/PostStyle.css"/>

@*<div style="margin:20px;" >
    <a asp-action="AbrovePosts" asp-controller="post" style="color:white" class="btn btn-info">Abrove Critical Posts</a>
</div>*@
@foreach(var i in Model){
<div class="cont">
	<div class="post">
		<div class="post-header">
			<img src="~/Attach/saberJ.jpg" alt="Profile Picture">
			<div>
				<h5>@i.UserName</h5>
				<p>@i.date</p>
			</div>
		</div>
		<div class="post-content">
			<p style="color:black">@i.Content</p>
			<img src="~/Attach/saberJ.jpg" width=100% height="570"  alt="Post Image">
		</div>
		<div class="post-actions">
			<button>Comments</button>
			<button>Reports</button>
		</div>
	</div>
</div>
}