@model Test.Models.Admin

@{
    Layout = null;
    ViewBag.title = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Complete Registration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" href="~/Attach/icon.png" />

     <link rel="stylesheet" type="text/css" href="~/css/Login.css">
     <link rel="icon"  href="~/Attach/icon.png">

</head>
<body>
    <div class="container">
            <form asp-action="firstlogin" method="post" > 
                <h1>Complete Registration Information</h1>
                <hr />
                <div class="input-box">
                    <img src="~/Attach/icons8-user-24 (1).png" />
                    <input asp-for="Name" style="border: 1px solid #1f1f1f ; border-radius : 10px; outline : none;" placeholder="FullName">
                    <span asp-validation-for="Name" style="color:red ; font-size : 12px ; text-align:left ; margin-top:5px"></span>
                </div>
                 <div class="input-box">
                    <img src="~/Attach/icons8-phone-24.png">
                    <input asp-for="Phone" style="border: 1px solid #1f1f1f ; border-radius : 10px; outline : none;" placeholder=" Phone Number">
                    <span asp-validation-for="Phone" style="color:red ; font-size : 12px ; text-align:left ; margin-top:5px"></span>
                </div>
                <div class="input-box">
                    <img src="~/Attach/icons8-email-24.png">
                    <input asp-for="Email" style="border: 1px solid #1f1f1f ; border-radius : 10px; outline : none;" placeholder="Email">
                    <span asp-validation-for="Email" style="color:red ; font-size : 12px ; text-align:left ; margin-top:5px"></span>
                </div>
                <div class="input-box">
                    <img src="~/Attach/icons8-lock-24.png">
                    <input type="password" asp-for="Password" style="border: 1px solid #1f1f1f ; border-radius : 10px; outline : none;" placeholder="Password">
                    <span asp-validation-for="Password" style="color:red ; font-size : 12px ;"></span>
                </div>
                  <div class="input-box">
                    <img src="~/Attach/icons8-lock-24.png">
                    <input type="password" asp-for="ConfirmPassword" style="border: 1px solid #1f1f1f ; border-radius : 10px; outline : none;" placeholder="Confirm Password">
                    <span asp-validation-for="ConfirmPassword" style="color:red ; font-size : 12px ;"></span>
                </div>
                <button type="submit">Save And Go to Login</button>
            </form>
         </div>
    </body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
