@model Test.Models.Train

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center mt-3">Add New Train</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="NumOfSeat" class="control-label"></label>
                <input asp-for="NumOfSeat" class="form-control" />
                <span asp-validation-for="NumOfSeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainNumber" class="control-label"></label>
                <input asp-for="TrainNumber" class="form-control" />
                <span asp-validation-for="TrainNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOfTrainCars" class="control-label"></label>
                <input asp-for="NumOfTrainCars" class="form-control" />
                <span asp-validation-for="NumOfTrainCars" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Degree" class="control-label"></label>
                <select asp-for="Degree"  class="form-control">
                    <option name="a">Class A</option>
                    <option name="b">Class B</option>
                    <option name="c">Class C</option>
                </select>
                <span asp-validation-for="Degree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



