@model Test.Models.Train

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card p-3" style="display:grid;justify-content:center ; margin:100px; height:600px; box-shadow:5px 5px 5px 5px  #87CEEB ; border-radius:15px">
    <h1 class="text-center" style="color:#414141">Add New Train</h1>
    <hr />
    <form asp-action="create" enctype="multipart/form-data" >
        <div class="form-group mb-5" >
            <input asp-for="NumOfSeat" min="1" style="font-size:14px; color:black; text-align:center;border: 1px solid #1f1f1f ; border-radius : 10px; 
            outline:none ; box-shadow:none; height:40px " class="form-control" placeholder="Enter Number Of Seats in the Train"/>
            <span asp-validation-for="NumOfSeat" class="text-danger"  style="font-size:12px;"></span>
        </div>
           <div class="form-group mb-5" >
            <input asp-for="TrainNumber" style="font-size:14px; color:black; 
            text-align:center;border: 1px solid #1f1f1f ; border-radius : 10px; 
            outline:none ; box-shadow:none; height:40px " class="form-control" placeholder="Enter Train Number"/>
            <span asp-validation-for="TrainNumber" class="text-danger"  style="font-size:12px;"></span>
        </div>
        <div class="form-group mb-5" >
            <input asp-for="NumOfTrainCars" style="font-size:14px; color:black;
            text-align:center;border: 1px solid #1f1f1f ; border-radius : 10px;  outline:none ;
            box-shadow:none; height:40px " class="form-control" placeholder="Enter Number of Cars in Train"/>
            <span asp-validation-for="NumOfTrainCars" class="text-danger"  style="font-size:12px;"></span>
        </div>
       
        <div class="form-group mb-5" >
            <label asp-for="Degree"> </label>
                 <select asp-for="Degree"  class="form-control">
                    <option name="a">Class A</option>
                    <option name="b">Class B</option>
                    <option name="c">Class C</option>
                </select>
            <span asp-validation-for="Degree" class="text-danger"  style="font-size:12px;"></span>
        </div>
       
        <div class="form-group text-center">
            <input type="submit" value="Add Now!" class="btn btn-primary"/> 
        </div>
    </form>
</div>

