@using Test.Models ;
@model Train

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card p-3" style="display:grid;justify-content:center ; margin:100px; height:600px; box-shadow:5px 5px 5px 5px  #87CEEB ; border-radius:15px">
    <h1 class="text-center" style="color:#414141">Add New Train</h1>
    <hr />
    <form asp-action="create" enctype="multipart/form-data" >
        <div class="form-group mb-2" >
            <input asp-for="NumOfSeat" min="1" style="font-size:14px; color:black; text-align:center;border: 1px solid #1f1f1f ; border-radius : 10px; 
            outline:none ; box-shadow:none; height:40px " class="form-control" placeholder="Enter Number Of Seats in the Train"/>
            <span asp-validation-for="NumOfSeat" class="text-danger"  style="font-size:12px;"></span>
        </div>
           <div class="form-group mb-2" >
            <input asp-for="TrainNumber" style="font-size:14px; color:black; 
            text-align:center;border: 1px solid #1f1f1f ; border-radius : 10px; 
            outline:none ; box-shadow:none; height:40px " class="form-control" placeholder="Enter Train Number"/>
            <span asp-validation-for="TrainNumber" class="text-danger"  style="font-size:12px;"></span>
        </div>
        <div class="form-group mb-2" >
            <input asp-for="NumOfTrainCars" style="font-size:14px; color:black;
            text-align:center;border: 1px solid #1f1f1f ; border-radius : 10px;  outline:none ;
            box-shadow:none; height:40px " class="form-control" placeholder="Enter Number of Cars in Train"/>
            <span asp-validation-for="NumOfTrainCars" class="text-danger"  style="font-size:12px;"></span>
        </div>
        
        <div class="form-group mb-2"  style=" visibility:hidden; display:none;justify-content: space-around;">
            <select asp-for="TrainTimeH" style="font-size:14px; color:black;
            text-align:center;border: 1px solid #1f1f1f ; width:125px; border-radius : 10px;  outline:none ;
            box-shadow:none; height:40px" placeholder="Enter Train Time">
              <option selected value="00">00</option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
        </select>
        <select asp-for="TrainTimeM" style="font-size:14px; color:black;
            text-align:center;border: 1px solid #1f1f1f ;width:125px; border-radius : 10px;  outline:none ;
            box-shadow:none; height:40px; visibility:hidden; " placeholder="Enter Train Time">
              <option selected value="00">00</option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              <option value="32">32</option>
              <option value="33">33</option>
              <option value="34">34</option>
              <option value="35">35</option>
              <option value="36">36</option>
              <option value="37">37</option>
              <option value="38">38</option>
              <option value="39">39</option>
              <option value="40">40</option>
              <option value="41">41</option>
              <option value="42">42</option>
              <option value="43">43</option>
              <option value="44">44</option>
              <option value="45">45</option>
              <option value="46">46</option>
              <option value="47">47</option>
              <option value="48">48</option>
              <option value="49">49</option>
              <option value="50">50</option>
              <option value="51">51</option>
              <option value="52">52</option>
              <option value="53">53</option>
              <option value="54">54</option>
              <option value="55">55</option>
              <option value="56">56</option>
              <option value="57">57</option>
              <option value="58">58</option>
              <option value="59">59</option>
        </select>
        </div>
       
        <div class="form-group mb-2" style="display:none;visibility:hidden;" >
            <label asp-for="Degree"> </label>
                 <select asp-for="Degree" style="visibility:hidden;" class="form-control">
                    <option selected name="a">Class A</option>
                    <option name="b">Class B</option>
                    <option name="c">Class C</option>
                </select>
            <span asp-validation-for="Degree" class="text-danger"  style="font-size:12px;"></span>
        </div>
       
        <div class="form-group mb-2" >
            <select asp-for="RailwayId" asp-items="@ViewBag.Railways" class="form-control"></select>
            <span asp-validation-for="RailwayId" class="text-danger"  style="font-size:12px;"></span>
        </div>

        <div class="form-group text-center">
            <input type="submit" value="Add Now!" class="btn btn-primary"/> 
        </div>
    </form>
</div>

